*{
  font-family: 'Roboto Slab', serif;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  background-color: #60060a;
}

div{
  padding: 10px;
  margin: 0px;
  border: 2px;
  border-style: dotted;
  border-color: whitesmoke;
  border-radius: 20px;
}


h2{
  color: whitesmoke;
  font-size: 25px;
  margin-top: 50px;
}

a{
  color: #ff5d44;
  text-decoration: none;
}

p{
  padding: 5px;
  margin: auto;
  width: 85%;
  color: #ffc19f;
  font-size: 15px;
}